body {
  width: 100%;
  height: auto;
  background-color: black;
  font-family: Garamond, Sans-Serif;
  color: lightcyan;
  margin: 0;
  /* overflow: hidden; */
}

.name {
  /* margin-top: 2rem; */
  padding: 20px;
  /* color: lightcyan; */
  text-align: center;
}

h1 {
  display: block;
  margin: 1.5em;
  margin-bottom: 1em;
}
h3 {
  display: block;
  /* color: lightcyan; */
  text-align: center;
}
#name {
  text-align: center;
  /* color: lightcyan; */
}
p {
  color: lightcyan;
  text-align: center;
  padding: 1px;
  letter-spacing: 2.5px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightcyan;
  z-index: 1;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* projects button in nav bar */
.projects {
  float: right;
}

/* Change the link color to darkcyan on hover */
li a:hover {
  background-color: darkcyan;
}

.container {
  text-align: center;
}

.me-and-lilj {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 12px 10px 10px 0 rgba(95, 168, 168, 0.8);
}

#image-of-code {
  position: relative;
  /* display: inline-block; */
  border-radius: 12px;
  max-width: 100px;
  height: auto;
  box-shadow: 12px 10px 8px rgba(95, 168, 168, 0.6);
}

/* .name {
  margin-top: 20px;
  text-align: center;
   color: lightcyan; 
} */

.about-me {
  left: 50%;
  right: auto;

  justify-content: center;
  width: 50%;
  background-color: #141d26;
  border: 1px solid darkcyan;
  color: lightcyan;
  text-align: center;
}
.projects-container {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 5px;
}
