body {
  width: 100%;
  height: auto;
  background-color: black;
  font-family: Garamond, Sans-Serif;
  color: lightcyan;
  margin: 0;
  /* overflow: hidden; */
}

.name {
  /* margin-top: 2rem; */
  padding: 20px;
  /* color: lightcyan; */
  text-align: center;
}

h1 {
  display: block;
  margin: 1.5em;
  margin-bottom: 1em;
}

h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
#name {
  text-align: center;
  /* color: lightcyan; */
}

p {
  /* color: lightcyan; */
  text-align: center;
  padding: 1rem;
  letter-spacing: 2.5px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightcyan;
  z-index: 1;
}
.navbar:hover {
  /* background-color: ghostwhite; */
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* projects button in nav bar */
.projects {
  float: right;
}
ul:hover {
  background-color: ghostwhite;
}

/* Change the link color to darkcyan on hover */
li a:hover {
  background-color: darkcyan;
  color: black;
}

.container {
  text-align: center;
}

.me-and-lilj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 12px 10px 10px 0 rgba(95, 168, 168, 0.8);
}

.about-me-content {
  left: 50%;
  right: auto;
  text-align: start;
}

/* .projects-image-container {
  text-align: center;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 5px;
} */
.projects-image-container {
  width: 100%;
  height: auto;
  /* display: grid; */
  /* margin: 5%; */
  /* grid-template-columns: repeat(10, 10vh); */
  /* grid-template-rows: repeat(10, 20vw); */
  /* grid-gap: 4rem; */
}

.image-of-code {
  width: 15rem;
  height: auto;
  margin: 3%;
  border: 0.2rem solid darkcyan;
  border-radius: 1rem;
  filter: blur(0.1999rem);
}
.image-of-code:hover {
  border: 0.2rem solid lightcyan;
  filter: blur(0);
}
